# VS related files
**/*.exe
**/*.ilk
**/*.pdb
**/*.opensdf
**/*.sdf
**/*.suo
**/*.vcxproj.*
**/*.ilk
**/*.pdb

**/debug/
**/GeneratedFiles/
**/Win32

# Qt relates files
**/build*/
**/*.pro.user

# Non-source files
**/*.exe